nav{
    display: flex;
    
    align-items: center;
    width: 70%;
    margin: auto;
    padding: 6vh 2vw;
    
}
a{
    text-decoration: none;
    color: var(--colorNegro);
    margin-right: 2;
    
}
.logo > img {
    width: 27%;
    color: black;
    font-weight:bolder;
    text-align: center;
}

nav{
    display: flex;
    justify-content: end;
    width: 77%;
    
}
nav > a {
    margin-left: 15px;
    
}
.hamburgesa{
    color: black;
    display: none;
    font-size: 32px;
}