
footer{
    display: flex;
    width: 70%;
    margin: auto;
    padding-top: 15rem;
    justify-content: space-between;
    padding-bottom: 17rem;
    flex-flow: wrap;
}
.footerItself{
    display: flex;
    flex-direction: column;
    padding-top: 1rem;
    width: 50%;
}
.footerItself h1{
    display: flex;
    flex-direction:row;
    
    font-size: 3rem;
    font-weight: 900;
    color: var(--colorNegro);
    
    padding-bottom: 3rem;
}
.footerItself h2{
    font-size: 1.8rem;
    font-weight: lighter;
    color: rgb(36, 33, 33);
    padding-bottom: 4.2rem;
}
.ultimasDosCajas{
    display: flex;
    justify-content: space-between;
    margin-right: 6rem;
    flex-flow: wrap;
}
.ultimasDosCajas p{
    padding-bottom: 1.4rem;
    color: #7f7f7f;
    font-size: 1.2rem;
}
.ultimasDosCajas a{
    font-size: 1.4rem;
}
.iconosFooter{
    letter-spacing: 0.5rem;
    font-size: 1.8rem;
}

.form{
    display: flex;
    flex-direction: column;
    background-color: var(--colorNegro);
    width: 50%;
    height: 400px;
    box-shadow: 1px 2px 6px #3a3a3a;
    justify-content: center;
    padding: auto;;
}
.form label{
    display: flex;
    color: #bbb;
    width: 70%;
    margin: auto;
}
.form input{
    display: flex;
    width: 70%;
    margin: auto;
    padding: 0.3rem;
    border: solid 1px #999;
    color: var(--colorNegro);
    
}
.form textarea{
    display: flex;
    width: 70%;
    margin: auto;
    height: 100px;
    
    resize: none;
}
input[type=button], input[type=submit], input[type=reset] {
    display: flex;
    width: 20%;
    margin-right: 5.75rem;
    margin-top: 1rem;
    background-color: var(--colorBlanco);
    border: none;
    color: var(--colorNegro);
    
    text-decoration: none;
    
    cursor: pointer;
}
  